@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    var session=@HttpContext.Session.GetString("Role");
    if(session=="1")
    {
        <h1>Quản lý quyền</h1>
        <form method="get">
                <p>
                    Genre: 
                    <select asp-for="Genre">
                        <option value="All">Tất cả</option>
                        <option value="MaQuyen">Mã quyền</option>
                        <option value="TenQuyen">Tên quyền</option>   
                    </select>
                    Title: 
                    <input type="text"  asp-for="SearchString"/>
                    <input type="submit" value="Filter"/>
                </p>
</form>
<form method="post">
    <div class="vipham">
    <div class="form-row" style="padding:10px">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <a asp-page="Create" class="btn btn-info" style="color:black" >Tạo mới</a>
            </div>
            <div class="col-md-3"></div>
    </div>
    <table class="table-header">
        <tr>
            <!-- Theo độ rộng của table content -->
            <th style="width: 5%">STT<i class="fa"></i></th>
            <th style="width: 10%">Mã quyền<i class="fa"></i></th>
            <th style="width: 15%">Tên Quyền<i class="fa"></i></th>
            <th style="width: 55%">Mô tả quyền<i class="fa"></i></th>
            <th style="width: 15%">Thao Tác</th>
        </tr>
    </table>
    <div class="table-content">
        <table class="table-outline">
            @foreach (var quyen in Model.QuyenVM.DanhSachQuyen)
            {
            <tr>
            <td style="width: 5%">@quyen.QuyenID<i class="fa"></i></td>
            <td style="width: 10%">@quyen.MaQuyen<i class="fa"></i></td>
            <td style="width: 15%">@quyen.TenQuyen<i class="fa"></i></td>
            <td style="width: 55%">@quyen.MoTaQuyen<i class="fa"></i></td>
            <td style="width: 15%">
                <a asp-page="Delete" class="btn btn-info" asp-route-id="@quyen.QuyenID">Delete</a>
                <a asp-page="Edit" class="btn btn-info" asp-route-id="@quyen.QuyenID">Edit</a>
            </td>
            </tr>
            }
        </table>
        @{
    var preDisabled = !Model.QuyenVM.DanhSachQuyen.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.QuyenVM.DanhSachQuyen.HasNext ? "disabled" : "";
}
<div class="container">
    <a  asp-page="Index" 
        asp-route-pageIndex="@(Model.QuyenVM.DanhSachQuyen.PageIndex - 1)" 
        asp-route-searchString="@Model.SearchString"
        asp-route-genre="@Model.Genre"
        class="btn btn-default @preDisabled">Previous</a>
    @for(int i=1;i<=@Model.QuyenVM.DanhSachQuyen.TotalPages;i++)
    {
        <a  asp-page="Index" 
        asp-route-pageIndex="@i" 
        asp-route-searchString="@Model.SearchString"
        asp-route-genre="@Model.Genre"
        class="btn btn-default">@i</a>
    }
    <a  asp-page="Index" 
        asp-route-pageIndex="@(Model.QuyenVM.DanhSachQuyen.PageIndex + 1)" 
        asp-route-searchString="@Model.SearchString"
        asp-route-genre="@Model.Genre"
        class="btn btn-default @nextDisabled">Next</a>
</div>
        </div>
        </div>
 </form>
    }
    else
    {
        <h1>Bạn không đủ quyền để truy cập</h1>

    }
    }
        