@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    var session=@HttpContext.Session.GetString("Role");
    if(session=="1")
    {
        <h1>Bạn không đủ quyền để truy cập</h1>
    }
    else
    {
        <h1>Quản lý cấp bậc</h1>
<form method="get">
                <p>
                    Lựa chọn: 
                    <select asp-for="Genre">
                        <option value="All">Tất cả</option>
                        <option value="MaCapBac">Mã cấp bậc</option>
                        <option value="TenCapBac">Tên cấp bậc</option>   
                    </select>
                    Nhập thông tin: 
                    <input type="text"  asp-for="SearchString"/>
                    <input type="submit" value="Tìm kiếm"/>
                </p>
</form>
<form method="post">
    <div class="vipham">
        <div class="form-row" style="padding:10px">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <a asp-page="Create" class="btn btn-info" style="color:black" >Tạo mới</a>
            </div>
            <div class="col-md-3"></div>
    </div>
    <table class="table-header">
        <tr>
            <!-- Theo độ rộng của table content -->
            <th style="width: 5%">STT<i class="fa"></i></th>
            <th style="width: 10%">Mã cấp bậc<i class="fa"></i></th>
            <th style="width: 70%">Tên cấp bậc<i class="fa"></i></th>
            <th style="width: 15%">Thao Tác</th>
        </tr>
    </table>
    <div class="table-content">
        <table class="table-outline">
            @foreach (var capbac in Model.CapBacVM.DanhSachCapBac)
            {
            <tr>
            <td style="width: 5%">@capbac.CapBacID<i class="fa"></i></td>
            <td style="width: 10%">@capbac.MaCapBac<i class="fa"></i></td>
            <td style="width: 70%">@capbac.TenCapBac<i class="fa"></i></td>
            <td style="width: 15%">
                <a asp-page="Delete" class="btn btn-info" asp-route-id="@capbac.CapBacID">Delete</a>
                <a asp-page="Edit" class="btn btn-info" asp-route-id="@capbac.CapBacID">Edit</a>
            </td>
            </tr>
            }
        </table>
        @{
    var preDisabled = !Model.CapBacVM.DanhSachCapBac.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.CapBacVM.DanhSachCapBac.HasNext ? "disabled" : "";
}
<div class="container">
    <a  asp-page="Index" 
        asp-route-pageIndex="@(Model.CapBacVM.DanhSachCapBac.PageIndex - 1)" 
        asp-route-searchString="@Model.SearchString"
        asp-route-genre="@Model.Genre"
        class="btn btn-default @preDisabled">Trước</a>
    @for(int i=1;i<=@Model.CapBacVM.DanhSachCapBac.TotalPages;i++)
    {
        <a  asp-page="Index" 
        asp-route-pageIndex="@i" 
        asp-route-searchString="@Model.SearchString"
        asp-route-genre="@Model.Genre"
        class="btn btn-default">@i</a>
    }
    <a  asp-page="Index" 
        asp-route-pageIndex="@(Model.CapBacVM.DanhSachCapBac.PageIndex + 1)" 
        asp-route-searchString="@Model.SearchString"
        asp-route-genre="@Model.Genre"
        class="btn btn-default @nextDisabled">Sau</a>
</div>
        </div>
        </div>
 </form>
    }
    }


        